<h1>the main page</h1>


<div>
  <img class="painting" id="couch_and_tv" src="img/couch_and_tv.jpg" />
  <img class="painting" src="img/bird.jpg" />
  <img class="painting" src="img/brown_bird.jpg" />
  <img class="painting" src="img/death_star_route.jpg" />
  <img class="painting" src="img/frontside_air.jpg" />
  <img class="painting" src="img/ghost_release.jpg" />
  <img class="painting" src="img/long_hair.jpg" />
  <!-- <div class="painting"><img src="img/minimal.jpg" /></div> -->
  <img class="painting" src="img/mustache_man.jpg" />
  <img class="painting" src="img/on_the_couch.jpg" />
  <img class="painting" src="img/open_country.jpg" />
  <img class="painting" src="img/sea_of_skulls.jpg" />
  <img class="painting" src="img/window_window.jpg" />
</div>