html body {
  background: url('') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: rotate(90deg);
}

.title {
  text-align: center;
}

.linkList {

}

.pictureBoard {
  margin: 100px;
}

.painting {
  width: 400px;
  height: 400px;
  transform: rotate(90deg);
  float: left;
  padding: 5px;
}

.modal-content {
  padding-left: 10px;
}

.aboutPic {
  text-align: center;
  border-radius: 10px;
}

.modal-content a {
  padding: 10px;
}

.paymentForm {
  margin-left: 500px;
  margin-right: 500px;
  padding: 25px;
  text-align: center;
  border: 1px solid black;
}

footer {
  text-align: center;
}
