html body {
  /*background-color: lightgreen;*/
  background-image: url('app/img/backgroundRoad.jpg') no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h3, .title {
  color: black;
  text-shadow: 2px 2px white;
}

.mainImage {
  width: 100%;  
  /*transform: rotate(90deg);*/
}

.title {
  text-align: center;
}

.linkList {
  text-align: center;
  display: inline-flex;
}

.linkList li {
  margin: 10px;
}

.pictureBoard {
  margin: 100px;
}

.painting {
  width: 400px;
  height: 400px;
  transform: rotate(90deg);
  float: left;
  padding: 5px;
}

.modal-content {
  padding-left: 10px;
}

.aboutPic {
  text-align: center;
  border-radius: 10px;
}

.modal-content a {
  padding: 10px;
}

.paymentForm {
  margin-left: 400px;
  margin-right: 400px;
  padding: 25px;
  text-align: center;
  border: 1px solid black;
}

footer {
  text-align: center;
}

.nav-wrapper {
  background-color: green;
}

.admin {
  padding: 25px;
  border: 1px solid black;
}

.inventory {
  padding: 25px;
  border: 1px solid black;
}

.brand-logo {
  margin-left: 10px;
}