<h1 class="title">Graeme Inventory</h1>

<div class="inventory container row">
  <form>
    <div input-field>
        <input type="text" length="150">
        <label>Title</label>
    </div>
    <div input-field>
        <input type="text" length="150">
        <label>Price</label>
    </div>
    <div input-field>
        <input type="text" length="150">
        <label>Image URL</label>
    </div>
    <div input-field>
        <input type="text" ng-model="dummyInputs.inputFieldInput" length="150">
        <label>Description</label>
    </div>
    <div input-field class="col s6">
        <select class="" ng-model="select.value1" material-select watch>
            <option ng-repeat="value in values track by $index">{{value}}</option>
        </select>
        <label>Art</label>
    </div>
    <div input-field class="col s6">
        <select class="" ng-model="select.value1" material-select watch>
            <option ng-repeat="value in values">{{value}}</option>
        </select>
        <label>Product</label>
    </div>
  </form>
</div>