<h1 class="title">Art</h1>

<!-- Modal Structure -->
<div id="Modal1" class="modal container">
    <div class="modal-content">
        <h4>Couch and TV</h4>
        <h5>Price: $50</h5>
        <img class="paintingModal" src="img/couch_and_tv.jpg">
        <a ng-click="purchases.push()" class="modal-action modal-close waves-effect waves-green btn-flat">Purchase</a>
        <a href="/#/art" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="Modal2" class="modal container">
    <div class="modal-content">
        <h4>Bird</h4>
        <h5>Price: $50</h5>
        <img class="paintingModal" src="img/bird.jpg">
        <a href="/#/payment" class="modal-action modal-close waves-effect waves-green btn-flat">Purchase</a>
        <a href="/#/art" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="Modal3" class="modal container">
    <div class="modal-content">
        <h4>Brown Bird</h4>
        <h5>Price: $50</h5>
        <img class="paintingModal" src="img/brown_bird.jpg">
        <a href="/#/payment" class="modal-action modal-close waves-effect waves-green btn-flat">Purchase</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="Modal4" class="modal container">
    <div class="modal-content">
        <h4>Death Star Route</h4>
        <h5>Price: $50</h5>
        <img class="paintingModal" src="img/death_star_route.jpg">
        <a href="/#/payment" class="modal-action modal-close waves-effect waves-green btn-flat">Purchase</a>
        <a href="/#/art" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="Modal5" class="modal container">
    <div class="modal-content">
        <h4>Frontside Air</h4>
        <h5>Price: $50</h5>
        <img class="paintingModal" src="img/frontside_air.jpg">
        <a href="/#/payment" class="modal-action modal-close waves-effect waves-green btn-flat">Purchase</a>
        <a href="/#/art" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>-

<!-- Modal Structure -->
<div id="Modal6" class="modal container">
    <div class="modal-content">
        <h4>Ghost Release</h4>
        <h5>Price: $50</h5>
        <img class="paintingModal" src="img/ghost_release.jpg">
        <a href="/#/payment" class="modal-action modal-close waves-effect waves-green btn-flat">Purchase</a>
        <a href="/#/art" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="Modal7" class="modal container">
    <div class="modal-content">
        <h4>Long Hair</h4>
        <h5>Price: $50</h5>
        <img class="paintingModal" src="img/long_hair.jpg">
        <a href="/#/payment" class="modal-action modal-close waves-effect waves-green btn-flat">Purchase</a>
        <a href="/#/art" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="Modal8" class="modal container">
    <div class="modal-content">
        <h4>Mustache Man</h4>
        <h5>Price: $50</h5>
        <img class="paintingModal" src="img/mustache_man.jpg">
        <a href="/#/payment" class="modal-action modal-close waves-effect waves-green btn-flat">Purchase</a>
        <a href="/#/art" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="Modal9" class="modal container">
    <div class="modal-content">
        <h4>On the Couch</h4>
        <h5>Price: $50</h5>
        <img class="paintingModal" src="img/on_the_couch.jpg">
        <a href="/#/payment" class="modal-action modal-close waves-effect waves-green btn-flat">Purchase</a>
        <a href="/#/art" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="Modal10" class="modal container">
    <div class="modal-content">
        <h4>Open Country</h4>
        <h5>Price: $50</h5>
        <img class="paintingModal" src="img/open_country.jpg">
        <a href="/#/payment" class="modal-action modal-close waves-effect waves-green btn-flat">Purchase</a>
        <a href="/#/art" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="Modal11" class="modal container">
    <div class="modal-content">
        <h4>Sea of Skulls</h4>
        <h5>Price: $50</h5>
        <img class="paintingModal" src="img/sea_of_skulls.jpg">
        <a href="/#/payment" class="modal-action modal-close waves-effect waves-green btn-flat">Purchase</a>
        <a href="/#/art" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="Modal12" class="modal container">
    <div class="modal-content">
        <h4>Window Window on the wall</h4>
        <h5>Price: $50</h5>
        <img class="paintingModal" src="img/window_window.jpg">
        <a href="/#/payment" class="modal-action modal-close waves-effect waves-green btn-flat">Purchase</a>
        <a href="/#/art" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>   
</div>

<div class="pictureBoard">
    <img href="#Modal1" class="painting z-depth-1" src="/img/couch_and_tv.jpg" modal/>
    <img href="#Modal2" class="painting z-depth-1" src="/img/bird.jpg" modal/>
    <img href="#Modal3" class="painting z-depth-1" src="/img/brown_bird.jpg" modal/>
    <img href="#Modal4" class="painting z-depth-1" src="/img/death_star_route.jpg" modal/>
    <img href="#Modal5" class="painting z-depth-1" src="/img/frontside_air.jpg" modal/>
    <img href="#Modal6" class="painting z-depth-1" src="/img/ghost_release.jpg" modal/>
    <img href="#Modal7" class="painting z-depth-1" src="/img/long_hair.jpg" modal/>
    <img href="#Modal8" class="painting z-depth-1" src="/img/mustache_man.jpg" modal/>
    <img href="#Modal9" class="painting z-depth-1" src="/img/on_the_couch.jpg" modal/>
    <img href="#Modal10" class="painting z-depth-1" src="/img/open_country.jpg" modal/>
    <img href="#Modal11" class="painting z-depth-1" src="/img/sea_of_skulls.jpg" modal/>
    <img href="#Modal12" class="painting z-depth-1" src="/img/window_window.jpg" modal/>
</div>